<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Work Vibe</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="/css/style.css" />
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js'></script>

  

</head>

<body>
    <header>
        <nav class="no-shadows">
            <div class="nav-wrapper">
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
                <nav>
                    <div class="nav-wrapper">
                        <a href="/" class="brand-logo">Work Vibe</a>
                        <ul class="right hide-on-med-and-down">

                            <li><a href="/">HOME</a></li>
                            <li><a href="/about">ABOUT</a></li>
                            <li><a href="/contact">CONTACT</a></li>
                            {{#if logged_in}}
                            <li id="logout"><a href="">LOG OUT</a></li>
                            {{else}}
                            <li><a href="/landingpage">LOGIN</a></li>
                            <li><a href="/signup">SIGN UP</a></li>
                            {{/if}}
                        </ul>
                    </div>
                </nav>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>

    <footer class="page-footer">
        <div class="container" "footer">
            <p class="copyright-text center-align">©2021 Don't Trust Morning People</p>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/progressbar.js/0.6.1/progressbar.js"></script>
    <script src="/js/main.js"></script>


</body>

</html>