    <div class="container">
      <div class="row center-align">
        <h1>Have a Question?<br>Shoot us an email!</h1>
        <h2 style="font-size: medium;">Having trouble navigating the site? Need someone to chat to? Contact us below!</h2>
      </div>
      <div class=" row contact-info">
        <div class="col s12 center" id="email">
          <a href="mailto:shannonmariealexander94@gmail.com, KYLE@gmail.com, MORGAN@gmail.com"><span
              class="fa fa-envelope mt-4 fa-4x"></span></a>
          <h3 style="font-size:larger; font-style: italic;">Email Shannon, Morgan & Alex</h3>
        </div>
      </div>