<div class="row">
  <div class="col s12 m5">
    <h5><i class="material-icons prefix">add_circle_outline</i>Add new project</h5>
    <div class="card-panel teal">
      <div class="row">
        <form class="col s12 create-form">
          <div class="row">
            <div class="input-field col s6 white-text">
              <i class="material-icons prefix">assessment</i>
              <input id="new-title" type="text" class="white-text">
              <label for="new-title"class="white-text">Title</label>
            </div>
            <div class="input-field col s6 white-text">
              <i class="material-icons prefix">assignment</i>
              <input id="new-description" type="tel" class="white-text">
              <label for="new-description" class="white-text">Description</label>
            </div>
          </div>
          <button class="btn btn-primary" type="submit" id="create-btn">Create</button>
        </form>
      </div>
    </div>
  </div>
</div>

<h5><i class="material-icons prefix">insert_drive_file</i>Current projects</h5>
<ul class="collapsible popout">
  {{#each projects as |project|}}
  <li>
    <div class="collapsible-header">
      <i class="material-icons">art_track</i>
      {{project.project_title}}
    </div>
    <div class="collapsible-body">
      <p>{{project.description}}</p>
      <a class="btn btn-primary" href="/projects/{{project.id}}">View</a>
      <a class="btn btn-primary delete-btn" value="{{project.id}}">Delete</a>
    </div>
  </li>
  {{/each}}
</ul>

<script src="/js/homepage.js"></script>