<h2>Sign Up</h2>

<form class="form signup-form">
    <div class="form-group">
        <label for="last-signup">first name:</label>
        <input class="form-input" type="text" id="first-signup" />
    </div>
    <div class="form-group">
        <label for="first-signup">last name:</label>
        <input class="form-input" type="text" id="last-signup" />
    </div>
    <div class="form-group">
        <label for="username-signup">username:</label>
        <input class="form-input" type="text" id="username-signup" />
    </div>
    <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Sign up</button>
    </div>
</form>

<script src="/js/signup.js"></script>